<app-filtros></app-filtros>
<div class="container">
    <div class="table">
        <table class="table-responsive table-striped table-bordered table-hover table-sm">
            <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Nombre</th>
                        <th>RFC</th>
                        <th>ID Proveedor</th>
                        <th>Telefóno</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Responsable Sanitario</th>
                    </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let proveedor of proveedores">
                        <td><a [routerLink]="['/externos/', proveedor.idProveedor]">Seleccionar</a></td>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.rfcProveedor }}</td>
                        <td>{{ proveedor.idProveedor }}</td>
                        <td>{{ proveedor.telefono }}</td>
                        <td>{{ proveedor.correo }}</td>
                        <td>{{ proveedor.aprobado }}</td>
                        <td>{{ proveedor.responsableSanitario }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
