<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg"> 
  
    <a class="navbar-brand" style="cursor: pointer;" (click)="onFarmacia()">Farmacia</a> 
   
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" 
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span> 
    </button> 
   
    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent"> 
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" [routerLink]="['/externos/new']" (click)="navbarCollapsed = true">Externos</a> 
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"> 
          <a class="nav-link" [routerLink]="['/registro-medicamento']" (click)="navbarCollapsed = true">Registro Medicamento</a> 
        </li> 
        <li class="nav-item" [routerLinkActive]="['active']"> 
          <a class="nav-link" [routerLink]="['/backoffice']" (click)="navbarCollapsed = true">Backoffice</a> 
        </li>
      </ul> 
      <a class="btn btn-danger float-right" [routerLink]="['/']" (click)="onCerrarSesion()">Cerrar Sesión</a>   
    </div> 
  </header> 