<div class="container">
    <form class="col-12" 
    [formGroup]='altaProveedorForm'
    (ngSubmit)='guardarProveedor()'>
        <div class="row">
            <div class="col-md-6">
                <h1 class="border-bottom">Alta de Proveedor</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label class="col-5" for="nombreProveedor">Nombre Proveedor:</label>
                    <input 
                    id="nombreProveedor"
                    name="nombreProveedor"
                    class="form-control col-7"
                    type="text"
                    formControlName="nombreProveedor">
                </div>
                <div class="form-group form-inline">
                    <label class="col-5" for="telProveedor">Telefono Proveedor:</label>
                    <input 
                    id="telProveedor"
                    class="form-control col-7"
                    name="telProveedor"
                    formControlName="telProveedor"
                    type="number"
                    maxlength="10">
                </div>
                <div class="form-group form-inline">
                    <label class="col-5" for="mailProveedor">Correo Proveedor:</label>
                    <input 
                    id="mailProveedor"
                    name="mailProveedor"
                    class="form-control col-7"
                    type="email"
                    formControlName="mailProveedor">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label class="col-5" for="rfcProveedor">RFC:</label>
                    <input 
                    id="rfcProveedor"
                    name="rfcProveedor"
                    class="form-control col-7"
                    type="text"
                    formControlName="rfcProveedor">
                </div>
                <div class="form-group form-inline">
                    <label class="col-5" for="dirProveedor">Dirección:</label>
                    <textarea 
                    id="dirProveedor"
                    name="dirProveedor"
                    class="form-control col-7"
                    type="text"
                    formControlName="dirProveedor"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
        <hr>
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label for="idProveedor" class="col-5">ID Proveedor:</label>
                    <input 
                    id="idProveedor"
                    name="idProveedor"
                    class="form-control col-7"
                    type="text"
                    formControlName="idProveedor">
                </div>
                <div class="form-group form-inline">
                    <label class="col-5" for="responsableSanitario">Responsable Sanitario:</label>
                    <select 
                    name="responsableSanitario"
                    id="responsableSanitario"
                    class="form-control col-7"
                    formControlName="isResponsableSanitario">
                        <option
                        *ngFor="let responsable of responsableSanitario"
                        [value]="responsable">{{ responsable }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label class="col-5" for="utilizasMaquiladores">Utilizas Maquiladores para fabricar, empacar o
                        almacenar tus productos:</label>
                    <select 
                    name="utilizasMaquiladores"
                    id="utilizasMaquiladores"
                    class="form-control col-7"
                    formControlName="utilizasMaquiladores">
                        <option
                        *ngFor="let opcionMaquiladores of opcionesMaquiladores; let i of index"
                        [value]="opcionMaquiladores">{{ opcionMaquiladores }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <button type="button" *ngIf="altaProveedorForm.controls['utilizasMaquiladores'].value === 'Sí'"
                    class="btn btn-primary"
                    [routerLink]="['maquila']">Agregar Maquiladora</button>
                </div>
                <div class="form-group form-inline" *ngIf="!proveedorNuevo">
                    <label class="col-5" for="idLicencia">Aviso de Funcionamiento / Licencia Sanitaria:</label>
                    <div class="input-group col-7">
                        <div class="custom-file">
                        <input type="file" 
                        class="custom-file-input" 
                        id="cargarLicencia" 
                        ria-describedby="inputGroupFileAddon04"
                        formControlName="avisoFuncionamiento">
                            <label class="custom-file-label" for="cargarLicencia">
                            <span *ngIf="altaProveedorForm.get('avisoFuncionamiento').value == undefined">Elige Archivo...</span>
                            <span *ngIf="altaProveedorForm.get('avisoFuncionamiento').value != undefined">{{ altaProveedorForm.get('avisoFuncionamiento').value }}</span>
                            </label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Cargar</button>
                        </div>
                    </div>
                </div>
                <div *ngFor="let maquila of proveedor.maquiladores; let i of index">
                    <app-listado-maquiladoras [(maquila)] = "maquila" [i]="i"></app-listado-maquiladoras>
                </div>
            </div>
            <div class="col-md-6">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <button style="margin-bottom: 5px;" 
                class="btn btn-success" 
                type="submit">Registrar</button>
            </div>
        </div>
    </form>
</div>