<div class="container">
    <div class="row col-md-12">
        <form [form]="altaProveedor" ngSubmit='guardarProveedor()'>
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label for="nombreProveedor">Nombre Proveedor:</label>
                    <input id="nombreProveedor" name="nombreProveedor" type="text">
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </form>
    </div>
</div>