<form [formGroup]="maquilaForm" (ngSubmit)="agregarMaquila()">
    <div class="form-group form-inline">
        <label class="col-5" for="nombreMaquila">Nombre Maquiladora:</label>
        <input 
        type="text"
        id=nombreMaquila
        name="nombreMaquila"
        class="form-control col-7"
        formControlName="nombreMaquila">
    </div>
    <div class="form-group form-inline">
        <label class="col-5" for="telMaquila">Telefóno:</label>
        <input type="tel"
        id="telMaquila"
        name="telMaquila"
        class="form-control col-7"
        formControlName="telMaquila">
    </div>
    <div class="form-group form-inline">
        <label class="col-5" for="correoMaquila">Correo:</label>
        <input type="email"
        id="correoMaquila"
        name="correoMaquila"
        class="form-control col-7"
        formControlName="correoMaquila">
    </div>
    <div class="form-group form-inline">
        <label class="col-5" for="rfcMaquila">RFC:</label>
        <input type="text"
        id="rfcMaquila"
        name="rfcMaquila"
        class="form-control col-7"
        formControlName="rfcMaquila">
    </div>
    <div class="form-group form-inline">
        <label class="col-5" for="dirMaquila">Dirección:</label>
        <textarea name="dirMaquila"
        id="dirMaquila"
        class="form-control col-7"
        cols="40"
        rows="3"
        formControlName="dirMaquila"
        ></textarea>
    </div>
    <div class="form-group form-inline">
        <label class="col-5" for="responsableSanitarioMaquiladora">Responsable Sanitario:</label>
        <select
        id="responsableSanitarioMaquiladora"
        name="responsableSanitarioMaquiladora"
        class="form-control col-3"
        formControlName="responsableSanitarioMaquiladora">
            <option 
            *ngFor="let opcion of opcionesResponsableSanitario"
            [value]="opcion">{{ opcion }}</option>
        </select>
        <input type="hidden" name="responsableMaquilador" id="responsableMaquilador" [value]="idResponsableMaquilador">
        <button 
        *ngIf="maquilaForm.controls['responsableSanitarioMaquiladora'].value === 'Sí'"
        class="btn btn-primary col-4"
        type="button">Subir Archivo</button>
    </div>
    <div class="form-group form-inline" *ngIf="!proveedorNuevo">
        <label class="col-5" for="cargarLicencia">Aviso de Funcionamiento / Licencia Sanitaria:</label>
        <div class="input-group col-7">
            <div class="custom-file">
            <input type="file" 
            class="custom-file-input" 
            id="cargarLicencia" 
            ria-describedby="inputGroupFileAddon04"
            formControlName="avisoFuncionamientoMaquiladora">
                <label class="custom-file-label" for="cargarLicencia">
                <span *ngIf="maquilaForm.get('avisoFuncionamientoMaquiladora').value == undefined">Elige Archivo...</span>
                <span *ngIf="maquilaForm.get('avisoFuncionamientoMaquiladora').value != undefined">{{ altaProveedorForm.get('avisoFuncionamientoMaquiladora').value }}</span>
                </label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Cargar</button>
            </div>
        </div>
    </div>
    <div class="form-group form-inline">
        <div class="col-2"></div>
        <button 
        class="btn btn-danger col-3"
        type="button"
        (click)="onCancelAgregarMaquila()">Cancel</button>
        <div class="col-2"></div>
        <button class="btn btn-warning col-3" type="submit">Agregar</button>
        <div class="col-2"></div>
    </div>
</form>